.card{
    
    position: relative;
    z-index: 6;
    
}

#ingameChat{
    
    position: absolute;
	width: 7%;
	height: 10%;
	top: 0px;
	left:75%;
	background: red;
    z-index: 7;
    
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

.inputbox{
    
    position: relative;
    display: inline-flex;
    
}

.inputname {
    
    height: 10vh;
    width:100%;
    font-size: 12;
    
}

.resetinput {
    
    width:25%;
    position: absolute;
    left: 25%;
    
}

.popup-text {
    
    text-transform:none;
    
}

.popup-title {
    
    text-transform:none;
    
}

.spin {
	
	width: 30%;
	
    -webkit-animation: 10s rotate linear infinite;
	animation: 10s rotate linear infinite;
	-webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
		
	position: absolute;
	right:35%;
	bottom: 25%;
    
    z-index: 1;
}

.btn {
  background: black;
  background-image: linear-gradient(to bottom, #0c3338, #bd2020);
  border-radius: 35px;
  box-shadow: 3px 3px 9px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 30px;
  border: dotted #000000 2px;
  text-decoration: none;
  text-align: center;
  padding-bottom: 6% !important;
	  
}

.btn-left {
	
	text-align: left;
	
}

.btn-right {
	
	text-align: right;
	
}

#ContinueGame {
	
	position: absolute;
    height: 10%;
	width: 44%;
	right:63%;
	bottom: 10%;
	background-image: linear-gradient(to bottom, blue, darkblue);
	border-color: black;
  	border-style: solid
	
}

#StartGame {
	
	position: absolute;
    height: 10%;
	width: 36%;
	right:71%;
	bottom: 25%;
	background-image: linear-gradient(to bottom, blue, darkblue);
	border-color: black;
  	border-style: solid
	
}

#User {
	
	position: absolute;
	width: 30%;
    height: 10%;
	top:5%;
	left:5%;
	background-image: linear-gradient(to bottom, blue, darkblue);
	border-color: black;
  	border-style: solid
	
}

#Menu {
	
	position: absolute;
	width: 30%;
    height: 10%;
	top:5%;
	right:5%;
	background-image: linear-gradient(to bottom, blue, darkblue);
	border-color: black;
  	border-style: solid
	
}

#Retos {
	
	position: absolute;
	width: 41%;
    height: 10%;
	left:65%;
	bottom: 25%;
	background-image: linear-gradient(to bottom, blue, darkblue);
	border-color: black;
	border-style: solid
	
}

#Multi {
	
	position: absolute;
	width: 51%;
    height: 10%;
	left:55%;
	bottom: 10%;
	background-image: linear-gradient(to bottom, blue, darkblue);
	border-color: black;
  	border-style: solid
	
}

.key{
	
	height: 100%;
	z-index: 5;
	background: white;	
}

.pressed{
	
	background: black;
	
}

#Board{
	
	position: absolute;
	height: 40%;
	width: 100%;
	bottom: 0px;
	
}

#m{
	position: absolute;
	display: block;
	bottom: 2%;
	border-color: black;
	border-style: solid;
	background: rgb(130, 224, 255);
	height: 13vh;
	width: 70%;
}

#sens{
	display: block;
	width: 100%;
	height: 100%;
}

#opac{
	display: block;
	width: 100%;
	height: 100%;
}
#resu{
	display: block;
	width: 100%;
	height: 100%;
}
#options{
	display: block;
	border-color: black;
	border-style: solid;
    border-width: 2px;
    padding-bottom: 200px;
	height: auto;
	width: 80%;
    margin: auto;
}
.opcion{
	display: block;
	border-color: black;
	border-radius: 50%;
	border-style: solid;
	background: rgb(130, 224, 255);
	height: 24%;
	width: 70%;
}
#sendGC { position: absolute;bottom: 3%; right: 5%; width: 20%;
	background-image: linear-gradient(to bottom, green, darkgreen);
	border-color: black;
  	border-style: solid}
#messages li:nth-child(odd) { background: #eee; }
.relleno{
	display: block;
  	width: 95%;
  	height: 55vh;
	padding-bottom: 10vh;
  	overflow-y: scroll;
}

.segmento{
    
    width: 100%;
    
}

#seeGC{
    
    width: 30%;
    font-size: 15px;
    
}
#seeR{
    
    width: 25%;
    font-size: 15px;
    
}
#seeRC{
    
    width: 30%;
    font-size: 15px;
    
}
#exitCard{
    
    width: 6%;
    font-size: 20px;
    
}